root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,ps1,js,mjs,ts,tsx,json,yml,yaml,md,css,html,mq5,mqh}]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
